<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>9BE153C4-1825-4EE7-AA70-A597918FCE71.playgroundpage</string>
		<string>27715B0C-1FA6-4DCC-A2B5-3DE60C01F55F.playgroundpage</string>
		<string>My Playground.playgroundpage</string>
	</array>
</dict>
</plist>
